
<div class="container-fluid" style="background-color: #00704A; text-align: center; height: 123px;">
  <h1 style="color: white; font-size: 50px;">
   Sign Up</h1>
</div>


<form #registerForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" maxlength="25"
    placeholder="General" 
    required [(ngModel)]="first" name="fname" #fname ngModel>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" id="lname" name="lName" maxlength="25"
    placeholder="Grizzly" 
    required [(ngModel)]="last" name="lastName" #lname ngModel>

  </div>

  <div class="form-group">
    <label> Phone Number</label>
    <input type="text" class="form-control" id="phone" name="phone" 
    placeholder="(770)7770-7070"
    required [(ngModel)]="phone" [pattern]="emailPattern">

  </div>


  <button type="submit"  class="btn btn-secondary"   >Submit</button>
</form>
