<app-navbar></app-navbar>
<div id="center">

  <h2>Users</h2>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
      <td mat-cell *matCellDef="let appUser"> {{appUser.fullName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let appUser"> {{appUser.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="isEmailVerified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Verified </th>
      <td mat-cell *matCellDef="let appUser"> {{appUser.isEmailVerified}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin </th>
      <td mat-cell *matCellDef="let appUser"> {{appUser.isAdmin}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <h2>Contacts</h2>
  <table mat-table [dataSource]="contactsData" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let contact"> {{contact.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
      <td mat-cell *matCellDef="let contact"> {{contact.phone}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="contactsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: contactsColumns;"></tr>
  </table>
</div>