Think of each person's skills and what you'd like to learn to pick a platform and framework to learn and use this semester.
-	Our skills comprise of UX/UI experience as well as Testing experience. we are familiar with databases.
-	We will use AngularJS and MONGO for the database
-	We have a bit of freedom and we look a references and aesthetic with the constraint on what specifics she will want.
Make a new list of requirements
-	Reference to other websites 
o	Website needed (separate website because we need permission to extend it to the school)
o	Checkboxes
o	Statistics on who joined the pledge
o	Side Nav has to be a Navigation bar going horizontally on the screen
o	Needs a page with what the user picked for the pledge
o	Button with link to their donations page
o	Big button for signing up
o	Questionnaire (FR)
o	Registering User (Name, Email [for updates], phone number, school)
o	Database (Firebase) (FR)
o	User share pictures and their experiences (NFR)
o	User friendly (NFR)
o	Aesthetic
o	Non-Gender specific (NFR) (when asking questions. Don’t add gender)
Requirement list should include:
•	Priority
-	Making the website with the Questionnaire 1st 
-	Database 2nd
-	Registrar 3rd   
- Page with users chosen pladges at the end of page 4th
-	Design 5th

•	Justification
-	For our client, they want the questionnaire and database first to have students and people alike, and also get data for the questions.
-	The registrar and the design are the last few things we need to prioritize because what need to be done first
- If we have time they want us to make the function of having the automatic email to the users that have completed the pledge but they told us that if it was not met because of time, they would pass it to the next group after us.

•	separation of functional, non-functional, and domain requirements
o	Questionnaire (FR)
o	User share pictures and their experiences (NFR)
o	User friendly (NFR)
o	MONGO(DR)
o	Angular(DR)
o	NodeJS 
o	Scalability: bootstrap (NFR)

