<app-top-bar></app-top-bar>

  <div *ngFor="let question of transportationQuestions | async">
    <h3> {{question.title}} </h3>
    <p>{{question.question}}</p>
    <input type="radio" id="{{question.id}}" value="{{question.yesOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
    <label>{{question.yesOption}}</label>
    <br>
    <input type="radio" id="{{question.id}}" value="{{question.noOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
    <label>{{question.noOption}}</label>
    <br>
    <input type="radio" id="{{question.id}}" value="{{question.doOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
    <label>{{question.doOption}}</label>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary" routerLink="/recycling">Back</button>
    <button type="submit" class="btn btn-secondary" (click)="onSubmit()">Submit</button>
  </div>

