<app-top-bar></app-top-bar>
<h1 style="text-align: center; color: #00704A;"><b><u>Transportation</u></b></h1>
<div *ngFor="let question of transportationQuestions | async; let indexOfElement=index;" style="text-align: center;">
  <h3> {{question.title}} </h3>
  <p>{{question.question}}</p>
  <section>
    <div>
      <input type="radio" id="{{question.yesOption}}{{indexOfElement}}" value="{{question.yesOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
      <label for="{{question.yesOption}}{{indexOfElement}}">{{question.yesOption}}</label>
    </div>
    <div>
      <input type="radio" id="{{question.noOption}}{{indexOfElement}}" value="{{question.noOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
      <label for="{{question.noOption}}{{indexOfElement}}">{{question.noOption}}</label>
    </div>
    <div>
      <input type="radio" id="{{question.doOption}}{{indexOfElement}}" value="{{question.doOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
      <label for="{{question.doOption}}{{indexOfElement}}">{{question.doOption}}</label>
    </div>
  </section>
</div>

  <div class="row">
    <div class="col-md-2"></div>
   <div class="btn-group btn-group-lg col-md-8" >
    <button type="button" class="btn btn-secondary" routerLink="/recycling">Back</button>
    <button type="submit" class="btn btn-secondary" (click)="onSubmit()">Submit</button>
  </div>

