<div  class="container-fluid" style="background-color: #00704A; text-align: center; height: 123px;">
    <h1  style="color: white; font-size: 70px;">
      👮Credentials👮‍♀️ </h1>

 

  </div>

  
  
  
<div class="container">

    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 *ngIf="authenticationService && authenticationService.userData | async" style="color: rgb(226, 6, 6); font-size: 90px;">
        Log-Out</h1>
    <h1 *ngIf="authenticationService && authenticationService.userData | async">Are you sure you want to log out? {{ (authenticationService.userData | async)?.email }}</h1>
    
    <div *ngIf="!(authenticationService.userData | async)">
    <div class="form-group">
    <label style=" font-size: 30px;"  for="email">Email address:  </label>
    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Valid email format required"
     required [pattern]="emailPattern">
    </div>
    <div class="form-group">
    <label  style=" font-size: 30px;" for="pwd">Password:</label>
    <input type="password" class="form-control" [(ngModel)]="password" id="pwd" placeholder="Must be 8 characters long"
    required [pattern]="passwordPattern">
    
    </div>
    <button (click)="signIn()" class="btn btn-outline-primary mr-1"   style="margin-left:5px;">Login</button>
    <button (click)="signUp()" class="btn btn-outline-success">Sign Up</button>
    </div>
    <button (click)="signOut()" class="btn btn-outline-danger mr-1" *ngIf="authenticationService.userData | async">Yes!</button>
    <button  class="btn btn-outline-success" routerLink="/" *ngIf="authenticationService.userData | async">Home</button>

    </div>
    </div>
