<app-navbar></app-navbar>
<div class="newsflex">
<div id="NewsDescription"><h1 style="text-align: center" id="Header1">News</h1>
  <p style="text-align: center;" >The GGC Student
    Innovators Org for Sustainability Pledge is a way for students and
    faculty to pledge their support for the environment. This tab will
    provide with links and resources for news about the environment.</p></div>

    <div id="NewsDescription"><h1 style="text-align: center" id="Header1">Latest News</h1>
  <p style="text-align: center;" id="NewsDescription">Follow this link 
    <a href="https://www.ggc.edu/about-ggc/news/News/georgia-gwinnett-college-keeps-sustainability-in-the-forefront-with-events-tree-planting">here</a>
    to get the latest news articles about the Sustainability Committee</p></div>
    <div id="NewsDescription"><h1 style="text-align: center" id="Header1">The Globe News</h1>
  <p style="text-align: center;" id="NewsDescription">Click the following image to go to the GGC globe website: 
    <a  href="https://twitter.com/theglobe_ggc"><img style="max-width: 280px;" src="../assets/images/globe.png"></a>
    </p></div>
  </div>