#NewsDescription {
    max-width: 350px;
    border: 10pt solid #00704a;
    background-color:#00704a;
    border-radius: 5px;
    color: white;
    margin: 10px;
}
.newsflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (max-width: 1100px) {
    .newsflex{
        display: flex;
        position: relative;
        margin: auto;
        flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
}