<app-top-bar></app-top-bar>

  <div *ngFor="let question of waterQuestions | async">
    <h3> {{question.title}} </h3>
    <p>{{question.question}}</p>
    <input type="radio" id="{{question.category}}" value="{{question.yesOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
    <label>{{question.yesOption}}</label>
    <br>
    <input type="radio" id="{{question.category}}" value="{{question.noOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
    <label>{{question.noOption}}</label>
    <br>
    <input type="radio" id="{{question.category}}" value="{{question.doOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
    <label>{{question.doOption}}</label>
  </div>

  <!-- [disabled]="buttonDisabled" -->
<div class="btn-group" role="group">
  <button type="button" class="btn btn-secondary" routerLink="/electricity">Next</button>
</div>

