<app-top-bar></app-top-bar>
<h1 style="text-align: center; color: #00704A;"><b><u>Electricity</u></b></h1>
<ng-container *ngFor="let question of electricityQuestion | async; let indexOfElement=index;">
  
  <div *ngIf="showMeList[indexOfElement]" style="text-align: center;">
  
    <div class="greyBox">
  
    <h3> {{question.title}} </h3>
  <p>{{question.question}}</p>
  <section>
    <div>
      <input type="radio" id="{{question.yesOption}}{{indexOfElement}}" value="{{question.yesOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
      <label for="{{question.yesOption}}{{indexOfElement}}">{{question.yesOption}}</label>
    </div>
    
    <div>
      <input type="radio" id="{{question.doOption}}{{indexOfElement}}" value="{{question.doOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
      <label for="{{question.doOption}}{{indexOfElement}}">{{question.doOption}}</label>
    </div>
    <div>
      <input type="radio" id="{{question.noOption}}{{indexOfElement}}" value="{{question.noOption}}" name="{{question.question}}" (change)="radioChangeHandler($event)">
      <label for="{{question.noOption}}{{indexOfElement}}">{{question.noOption}}</label>
    </div>
    <br/>
    
  </section>
  <div *ngIf="indexOfElement != showMeList.length">
    <button class="btn btn-outline-success" (click)="showMeList[indexOfElement] = false; showMeList[indexOfElement + 1] = true;">Next Question</button>
  </div>

</div><br>

</div>
  


</ng-container>



<div class="d-flex justify-content-around">
  
 <div class="btn-group btn-group-lg col-md-8" >
  <button type="button" class="btn btn-secondary" routerLink="/water">Back to Category: Water</button>
  <button type="button" class="btn btn-secondary" routerLink="/food">Next Category: Food</button>
</div>



