section {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
}
section > div {
    flex: 1;
    padding: 0.5rem;
    width: 250px;
}
input[type="radio"] {
    display: none;
}
label {
    display: block;
    background: white;
    border: 2px solid hsla(150, 75%, 50%, 1);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
    cursor: pointer;
}
input[type="radio"]:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
}
  
@media only screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }
  }

  .greyBox {
        margin: auto;
        width: 40%;
        background: #F2F2F2;
        display: block;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-bottom: 1rem;
        margin-top: 1 rem;
        box-shadow: 1px 1px 2px #fff inset,
                -1px -1px 2px #fff inset;
        padding: 1rem;
    
    }