<app-navbar></app-navbar>

<body>
  <h1 style="text-align: center;" id="GetInvolvedHeader2">Get Involved</h1>
  <p id="pintro">Looking forward to join future events? omplete the form below:</p>
  <div style="width:558px; margin:0 auto;">
    <div id="ProfileBox" style="width: 558px; text-align: center;">
      <div id="content">
        <article id="form">
          
  <div style="width:558px; margin:0 auto;">
    <form #f="ngForm" (ngSubmit)= "save(f.value)">
      <div class="form-group" >
        <label style=" font-size: 30px;" for="name">Name: </label>
        <input ngModel name="name" id= "name" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label style=" font-size: 30px;" for="email">Email: </label>
        <input ngModel name= "email" id= "email" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label style=" font-size: 30px;" for="phone">Phone Number: </label>
        <input ngModel name="phone" id= "phone" type="text" class="form-control">
      </div>
      <button class="btn btn-primary">Save</button>
    </form>

  </div>
          <br>
          <div id="PresenceAside">
            <p style="font-weight: bold;"><u>Link to GGC Presence Page</u></p>
            <p> Click <a href="https://ggc.presence.io/">here</a> to go there now.
            </p>
          </div>

        </article>

      </div>
    </div>
  </div>

</body>