
<app-navbar></app-navbar>
<body>
    <h2 style="text-align: center;" id="GetInvolvedHeader2">Get Involved</h2>
    <div style="width:558px; margin:0 auto;">
        <div id="ProfileBox" style="width: 558px; text-align: center;">
          <div id="content">
            <article id="form">
              <form id="GetInvolvedForm">
                <h3> Join Events </h3>
                <p> Enter info to join events: </p>
                <div style="margin-left: 40px;"> </div>
                <p> Name: <input name="name" size="15" maxlength="30" type="text">
                </p>
                <div style="margin-left: 40px;"> </div>
                <p> Email: <input name="email" size="15" maxlength="50" type="email">
                </p>
                <div style="margin-left: 120px;"> <input value="Join" type="submit">
                </div>
              </form>
            </article>
          </div>
        </div>
      </div>
      <aside id="PresenceAside">
        <h4><u>Link to GGC Presence Page</u></h4>
        <p> Click <a href="https://ggc.presence.io/">here</a> to go there now.
        </p>
      </aside>
</body>