<div class="container-fluid" style="background-color: #00704A; text-align: center; height: 123px;">
  <h1 style="color: white; font-size: 50px;">
    GGC Sustainability Pledge</h1>
</div>

<div class="container-fluid" style="background-color: gray; text-align: center;">
  <h2>Welcome</h2>
  <p style="color: aliceblue;">The GGC Sustainability Website is built for student and people to take a Pledge
    to certain environmentally friendly routines to help our Planet. Even one change can make a huge difference!</p>
</div>



<nav class="navbar navbar-light" style="margin-top: -17px; background-color: darkgray;">
  <div class="dropdown">
    <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    class="btn btn-secondary dropdown-toggle">Get Involved</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="https://www.ggc.edu/about-ggc/sustainability-at-ggc/green-grizzlies/" rel="noopener noreferrer" target="_blank" >Environmental Club & Events</a>
      <a class="dropdown-item" href="https://www.ggc.edu/student-life/events-calendar/events-calendar/event/04/19/2018/L-Student%20Center%20Plaza/T-Sustainability/ggc-earth-day-celebration" rel="noopener noreferrer" target="_blank">
        GGC Earth Day</a>
      </div>
  </div>



    <button type="button" id="dropdownMenuButton"
    class="btn btn-secondary" onclick="window.location='https:\/\/www.ggcfoundation.org\/giving'">Donations</button>

    <button type="button" id="dropdownMenuButton"
    class="btn btn-secondary" routerLink="/login">Log Out</button>


</nav>

<button type="button" routerLink="/water" id="bigButton" class="btn btn-primary btn-lg btn-block" >START THE PLEDGE!</button>

<div class="row">
  <div class="column">
    <img src="../../assets/images/pic1.jpg" alt="pics" style="width: 350px; height: 300px;">
    <img class="size" id="rotate" src="../../assets/images/4.jpg" alt="pics4">
    <img class="size" src="../../assets/images/pic2.jpg" alt="pics2">
    <img class="size" id="rotate" src="../../assets/images/3.jpg" alt="pics3">
    <img class="size" id="rotate" src="../../assets/images/1.jpg" alt="pics5">
  </div>
</div>


