ul {
    list-style-type: none;
    padding-left: 800px;
    overflow: hidden;

    background-image: linear-gradient(#00704a, #005b3c);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 24pt;
    padding: 42px 30px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #005b3c;
  }
  
  .logo-img {
    position: absolute;
    padding-left: 20px;
    padding-top: 27px;
    padding-bottom: auto;
    
    /* background-image: linear-gradient(#00704a, #005b3c); */
  }
  
  #navBarList {
    font-family: "Arial", "Helvetica", "sans-serif";
  }
  
  #HomeBody {
    background-color: #a5acb0;
    border-top: 14px none #00704a;
  }
  
  #divNav {
    border-top-width: 5px;
    border-top-style: none;
  }