<app-navbar></app-navbar>
<style>
    #NewsDescription {
  left: 22%;
  right: 22%;
  position: fixed;
  overflow: visible;
  clear: both;
  text-overflow: ellipsis;
}
</style>
<h1 style="text-align: center" id="Header1"> News </h1>
      <p style="text-align: center;" id="NewsDescription">The GGC Student
        Innovators Org for Sustainability Pledge is a way for students and
        faculty to pledge their support for the environment. This tab will
        provide with links and resources for news about the environment.</p>
        <br>
        <br>
        <br>
        <h1 style="text-align: center" id="Header1"> Latest News </h1>
        <p style="text-align: center;" id="NewsDescription">Follow this link 
            <a href="https://www.ggc.edu/about-ggc/news/News/georgia-gwinnett-college-keeps-sustainability-in-the-forefront-with-events-tree-planting">
                here</a> to get the latest new article about the Sustainability Committee</p>

      <br>
      <h1 style="text-align: center" id="Header1"> The Globe News </h1>
      <p style="text-align: center;" id="NewsDescription">Follow this link 
        <a href="https://twitter.com/theglobe_ggc">
            here</a> to get news articles from the Globe</p>