<app-navbar></app-navbar>

<div style="text-align: center;">
  <h1 style="color: black; font-size: 50px;">
    <br /> Trevor Lee 
  </h1>

  <h1 style="color: black; font-size: 30px;">
    <br /> 26, Soft Dev, 
    <br />Email:tlee7@ggc.edu, Loves Potatoes
  </h1>
  
  
  <h1 style="color: black; font-size: 50px;">
    Jonathan Roof
  </h1>
  <h1 style="color: black; font-size: 30px;">
    <br /> 22, Software Development (Senior), 
    <br />Email: jroof@ggc.edu loves playing music, writing code, and reading fiction and nonfiction.
    
  </h1>

  <h1 style="color: black; font-size: 50px;">
    <br /> Cesar Lopez <br />
  </h1>
  <h1 style="color: black; font-size: 30px;">
    <br /> 22, Soft Dev, 
    <br />Email:clopez9@ggc.edu, Love playing soccer and gaming
  </h1>
  <h1 style="color: black; font-size: 50px;">
    <br /> Angel Mercado </h1>

  <h1 style="color: black; font-size: 30px;">
    <br /> 24, Soft Dev,
    <br /> Email:amercadorodrigue@ggc.edu, Working Out and Music
  </h1>
</div>
<h1 style="color: black; font-size: 30px; text-align: center;">
  <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> Contact Us at: SusPledgeGGC@gmail.com </h1>