<div class="container-fluid" style="background-color: #00704A; text-align: center;">
    <h1 style="color: white; font-size: 70px;">
      🐻 GGC Sustainability Pledge 🌱</h1>
  </div>

  <div  class="container-fluid" style="background-color: #858b89; text-align: center; margin-top: -8px;">
    <h1  style="color: white; font-size: 40px;">
        📩 Frequently Asked Questions ⁉ </h1>
      <a class="btn btn-primary " routerLink="/home" > Home🏠</a>
  </div>


  <div class="container-fluid" style="background-color: #FFF8DC; text-align: center; height:auto;">
  <h1  style="color: lightseagreen; font-size: 40px; text-align: center;">
    Can not submit form?
   </h1>
   <h1  style="color: black; font-size: 20px; text-align: center;">
    Make sure to pledge on all the questions!
   </h1>

   <h1  style="color: lightseagreen; font-size: 40px; text-align: center;">
    Problems logging in or signing up ?
   </h1>
   <h1  style="color: black; font-size: 20px; text-align: center;">
    The email has to be unique and the password has to be at least 8 characters(letters,symbols or numbers)
   </h1>

   <h1  style="color: lightseagreen; font-size: 40px; text-align: center;">
    Problems logging in or signing up ?
   </h1>
   <h1  style="color: black; font-size: 20px; text-align: center;">
    The email has to be unique and the password has to be at least 8 characters(letters,symbols or numbers)
   </h1>

   <h1  style="color: lightseagreen; font-size: 40px; text-align: center;">
    Why do I keep being send to the login page?
   </h1>
   <h1  style="color: black; font-size: 20px; text-align: center;">
    User authentication is requiered and most pages will be blocked unless the user signs up or logging in with valid credentials
   </h1>

   <img src="../../assets/images/tim-mossholder-IswG3pvAdr4-unsplash.jpg" alt="pics" style="width: 90%; height:800px; overflow: hidden;">


</div>

