#head {
    text-align: center;
}

#firstimage {
    border: 2px outset green;
}

#firstinfo {
    border: 2px outset green;
}

#secondimage {
    border: 2px outset green;
}

#secondinfo {
    border: 2px outset red;
}
.size {
    width:auto;
    max-width: 100%;
    height:auto;
    max-height: 380px;
    align-self: center;
    overflow: hidden;
  }
  .imgdiv {
    height: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
    align-items: center;
  }