<app-navbar></app-navbar>

<h1 id="head">Past Events</h1>

<div id="body">

    <div id="firstevent">
        <div id="firstimage">
            <p>img</p>
            <img src="../../assets/images/event1.PNG">
        </div>
        <div id="firstinfo">
            <p>info</p>
        </div>
    </div>

    <div id="secondevent">
        <div id="secondimage">
            <p>img</p>
            <img src="../../assets/images/event2.PNG">
        </div>
        <div id="secondinfo">
            <p>info</p>
        </div>
    </div>

</div>