
<div class="container-fluid" style="background-color: #00704A; text-align: center; height: 123px;">
  <h1 style="color: white; font-size: 70px;">
    🐻 GGC Sustainability Pledge 🌱</h1>
    
</div>
  
   <div  class="container-fluid" style="background-color: #858b89; text-align: center; height: 100px;">
    <h1  style="color: white; font-size: 40px;">
      😷About Us🦸‍♂️ </h1>
      <button  class="btn btn-info " routerLink="/"  >Home</button>
  </div>
   <!-- <div  class="container-fluid" style="background-color: white(249, 250, 249); text-align: center; height: 123px;">
    <h1  style="color: black; font-size: 70px;">
     Team Avengers</h1>



  </div> -->

  


<h1  style="color: gold; font-size: 50px;">
  Chris Martinez ⚔️ 🗼
 </h1>
 <h1  style="color: gold; font-size: 30px;">
  <br/>  21, soft dev, cmartinez5@ggc.edu, love guitar and gaming
 </h1>
     <h1  style="color: green; font-size: 50px;">
            <br/> David Mercado 🏄📑 <br/>
           </h1>
           <h1  style="color: green; font-size: 30px;">
            <br/> 21, Soft Dev, dmercado@ggc.edu,Love sports and gaming 
           </h1>
     <h1  style="color: blue; font-size: 50px;">
        <br/>  Denzel Gomez 🔨🎅  </h1>
       

        <h1  style="color: blue; font-size: 30px;">
          <br/> 24, Soft Dev, dgomez3@ggc.edu,Love Gym and gaming 
         </h1>
         
        <h1  style="color: black; font-size: 30px; text-align: center;" >
          <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/> <br/>  <br/>   <br/>  <br/> Contact Us at: avengersGGC@gmail.com </h1>
          
          



