<app-navbar></app-navbar>
<!-- <div class="container-fluid" style="background-color: #00704A; text-align: center;">
  <h1 style="color: white; font-size: 70px;">
    🐻 GGC Sustainability Pledge 🌱</h1>

</div>

   <div  class="container-fluid" style="background-color: #858b89; text-align: center; margin-top: -8px;">
    <h1  style="color: white; font-size: 40px;">
      😷About Us🦸‍♂️ </h1>
      <button id="aboutHomeBtn" class="btn btn-info" routerLink="/">Home</button>
  </div> -->
   <!-- <div  class="container-fluid" style="background-color: white(249, 250, 249); text-align: center; height: 123px;">
    <h1  style="color: black; font-size: 70px;">
     Team Avengers</h1>



  </div> -->



<div style="text-align: center;">
<h1  style="color: gold; font-size: 50px;">
  Jonathan Roof
 </h1>
 <h1  style="color: gold; font-size: 30px;">
  <br/>  22, Software Development (Senior), loves playing music, writing code, and reading fiction and nonfiction. Email: jroof@ggc.edu
 </h1>
     <h1  style="color: lightseagreen; font-size: 50px;">
            <br/> Cesar Lopez &#9917; &#9924;<br/>
           </h1>
           <h1  style="color: lightseagreen; font-size: 30px;">
            <br/> 22, Soft Dev, clopez9@ggc.edu, love playing soccer and gaming
           </h1>
     <h1  style="color: blue; font-size: 50px;">
        <br/>  Denzel Gomez 🔨🎅  </h1>


        <h1  style="color: blue; font-size: 30px;">
          <br/> 24, Soft Dev, dgomez3@ggc.edu, Love Gym and Gaming
         </h1>
  </div>
        <h1  style="color: black; font-size: 30px; text-align: center;" >
          <br/>  <br/>  <br/>  <br/>  <br/>  <br/>     <br/>  <br/> Contact Us at: SusPledgeGGC@gmail.com </h1>





