<div class="container-fliud" style="background-color: #00704A; text-align: center; height: 123px;">

    <h1 style="color: white; font-size:50px;">😷 Team Avengers 🦸‍♂️</h1>

    <button  class="btn btn-outline-warning btn-lg" routerLink="/"  >Home</button>
   </div>

   <!-- <div  class="container-fluid" style="background-color: white(249, 250, 249); text-align: center; height: 123px;">
    <h1  style="color: black; font-size: 70px;">
     Team Avengers</h1>



  </div> -->

  <div class="col-md-6 col-md-offset-3">


<h1  style="color: gold; font-size: 50px;">
  Chris Martinez ⚔️ 🗼
 </h1>
     <h1  style="color: green; font-size: 50px;">
            <br/> David Mercado 🏄📑 </h1>
     <h1  style="color: blue; font-size: 50px;">
        <br/>  Denzel Gomez 🔨🎅  </h1>

        

</div>

