  h1 {
    font-family: "Arial", "Helvetica", "sans-serif";
    font-weight: bold;
  }
  #pintro {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-weight: bold;
  }
  
  #GetInvolvedBody {
    background-color: #a5acb0;
  }
  #PresenceAside {
    border: 2px solid green;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: auto;
  }
  #ProfileBox {
    font-family: "Arial", "Helvetica", "sans-serif";
    position: relative;
    margin: auto;
    background-color: #00704a;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    border: 10pt solid #00704a;
    border-radius: 5px;
    visibility: visible;
    color: white;
  }