<div class="container-fluid" style="background-color: #00704A; text-align: center;">
  <h1 style="color: white; font-size: 70px;">
    🐻 GGC Sustainability Pledge 🌱</h1>
</div>

    <nav class="navbar navbar-light "style="background-color: #808080; margin-top: -8px;">

        <a class="btn btn-success mr-2" routerLink="/water" > Water</a>
        <a class="btn btn-success mr-2" routerLink="/electricity" > Electricity</a>
        <a class="btn btn-success mr-2" routerLink="/food" >Food</a>
        <a class="btn btn-success mr-2" routerLink="/recycling" > Recycling</a>
        <a class="btn btn-success mr-2" routerLink="/transportation" > Transportation</a>
        <a class="btn btn-primary mr-2" routerLink="/about" > About Us</a>
        <a class="btn btn-info mr-2" routerLink="/faq" > FAQ</a>
        <a class="btn btn-outline-success mr-2"  routerLink="/" > Home</a>
    <a class="btn btn-outline-danger" routerLink="/login" > Logout</a>
    </nav>
