<app-navbar></app-navbar>

    <nav class="navbar navbar-expand nav flex-column sticky-top " id="navBar">

      <div>
        <a class="btn btn-success mr-2 green" id="waterTop" routerLink="/water" > Water <i class="fas fa-hand-holding-water"></i></a>
        <a class="btn btn-success mr-2 green" id="electricityTop" routerLink="/electricity" >Electricity <i class="fas fa-bolt"></i></a>
        <a class="btn btn-success mr-2 green" id="foodTop" routerLink="/food" >Food <i class="fa fa-utensils"></i></a>
        <a class="btn btn-success mr-2 green" id="recyclingTop" routerLink="/recycling" >Recycling <i class="fa fa-recycle"></i></a>
        <a class="btn btn-success mr-2 green" id="transportationTop" routerLink="/transportation" >Transportation <i class="fa fa-car-side"></i></a>
        <a class="btn btn-danger" id="transportationTop" routerLink="/login" >Log Out</a>
      </div>

    </nav>
    <app-progress-bar></app-progress-bar>


