<div class="container-fluid" style="background-color: #00704A; text-align: center; height: 100px; color: white; font-size: 60px;">
    GGC Sustainability
    </div>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/water" > Water <i class="fas fa-hand-holding-water"></i></a>
        <a class="nav-link" routerLink="/electricity" > Electricity <i class="fas fa-bolt"></i></a>
        <a class="nav-link" routerLink="/food" >Food <i class="fa fa-utensils"></i></a>
        <a class="nav-link" routerLink="/recycling" > Recycling <i class="fa fa-recycle"></i></a>
        <a class="nav-link" routerLink="/transportation" > Transportation <i class="fa fa-car-side"></i></a>
        <a class="btn btn-outline-success mr-1"  routerLink="/" > Home</a>
        <a class="btn btn-outline-danger" routerLink="/login" > Logout</a>
      </div>
    </nav>
    <app-progress-bar></app-progress-bar>
